:root {
    --black-color: #000;
    --white-color: #fff;
    --text-color: #333;
}

* {
    box-sizing: inherit;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

.grid {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.grid-fullwidth {
    width: 100%
}

.grid-row {
    display: flex;
    flex-wrap: wrap;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}