.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header .navbar {
    display: flex;
    justify-content: space-between;
}

.header .nav-item {
    display: inline-block;
    list-style: none;
    margin: 8px 0;
    padding: 0 8px;
    position: relative;
}

.header .nav-item a {
    text-decoration: none;
}

.header .nav-item,
.header .nav-item a {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--white-color);
}

.header .nav-item-seperate {
    border-right: 1px solid #fb9086;
}

.header .nav-item-bold a {
    font-weight: 500 !important;
}